@import 'colours.css';

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  overflow: hidden;
}

body,
input,
textarea {
  font-family: Roboto, sans-serif;
}

a,
button {
  color: var(--main-text-color);
  text-decoration: none;
  text-align: left;
}
