@import 'colours.css';

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  overflow-x: hidden;
}

body,
input,
textarea {
  font-family: Roboto, sans-serif;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}
